*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(55, 120, 177);
    font-size: 22px;
}

html,body{
        width: 100%;    
        height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
}